.searchButton {
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .searchField {
    width: 100% !important;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #891652 !important;
  }
  .searchField:hover {
    border-color: #bb3d7e !important;
  }