.login *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    min-height: 100vh;
}
.loginMedia {
    width: 40%;
}

.loginContent {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginBox{
    width: 60%;
}

.loginContent h1 {
    font-size: 3rem;
    color: #c79de0;
    font-weight: 500;
    padding-bottom: 40px;
}
.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px
}
.loginInput {
    width: 100%;
    padding: 0.6rem;
    border-radius: 10px;
    border: 2px solid #891652;
    font-size: 1.2rem;
    color: #891652;
    background-color: #FBF5E5;
}
textarea:focus, input:focus{
    outline: none;
}
.loginForm button {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #891652;
    color: #FBF5E5;
}
.loginForm button:hover {
    background-color: #bb3d7e;
}


@media screen and (max-width: 900px) {
}


@media screen and (max-width: 600px) {
    .login {
        display: block;
    }
    .loginMedia {
        width: 80%;
        margin: auto;
    }
    .loginContent {
        width: 100%;
        margin: auto
    }
    .loginBox{
        width: 100%;
        padding: 0;
    }
}